Package: electrotest-standalone
Version: 0.0.1
Architecture: amd64
Maintainer: oscar <jaanze@gmail.com>
Installed-Size: 25
Depends: libc6 (>= 2.29)
Section: unknown
Priority: optional
Multi-Arch: foreign
Homepage: <insert the upstream URL, if relevant>
Description: Standalone version of electrotest
 Downscaled variant of electrotest from LinUM-VT22
